mixin new-checkbox(id, label__text,classes_input, classes_label, state)
    if state
        input(type="checkbox" id=id class=classes_input checked)
    else
        input(type="checkbox" id=id class=classes_input)
    label(for=id class=classes_label)=label__text 


link(rel="stylesheet" href="checkbox-button.css")


