mixin new_elem(wrapper_classes, img_url, img_classes, title, title_classes, description, description_classes )
    div(class=wrapper_classes)
        img(src=img_url class=img_classes)
        div
            p(class=title_classes)=title 
            p(class=description_classes)=description 


link(rel="stylesheet", href="room-details-element.css")
